{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/static/css/archives.css">
{% endblock %}

{% block content %}
<div class="article_list grid justify-items-start">
	{% for article in articles %}
	<li class="article_list_item hover:underline hover:text-blue-500 text-lg font-light list-none cursor-pointer"><span>{{ article.date|strftime('%Y %m %d ') }}</span><a
			href="{{ SITEURL }}/{{ article.slug }}" >{{ article.title}}</a></li>
	{% endfor %}
</div>
{% endblock %}