{% extends 'base.html' %}

{% block header %}
<title>{{ article.title }}</title>
{% endblock %}


{% block content %}

<h2 class="article-page-title text-2xl p-6 font-mono font-bold">{{ article.title }}</h2>

<article class="article-page grid justify-items-center">
	<div class="article_page_meta font-thin text-center p-2">
		{{ article.date|strftime('%Y %m %d ')}}
		{{ article.tags}}
		{{ article.category}}
	</div>
	<div class="prose article_page_content m-2 md:w-9/12 text-lg font-light text-justify">
		{{ article.content }}
	</div>

	<ul class="article_pres grid grid-cols-2 w-9/12 font-bold= ">
		{% if article.prev_article %}
		<li class="hover:text-blue-500">
			<a href="{{ SITEURL }}/{{ article.prev_article.url}}">
				Previous: {{ article.prev_article.title }}
			</a>
		</li>
		{% endif %}
		{% if article.next_article %}
		<li class="next_article text-right hover:text-blue-500">
			<a href="{{ SITEURL }}/{{ article.next_article.url}}">
				Next: {{ article.next_article.title }}
			</a>
		</li>
		{% endif %}
	</ul>
</article>

{% endblock %}