{% extends 'base.html' %}

{% block title %}{{ article.title }} {% endblock %}

{% block content %}
<div class="padding_nav">
	<h2 class="article-page-title">{{ article.title }}</h2>
		<article>
			{{ article.date|strftime('%Y %m %d ')}}
			{{ article.tags}}
			{{ article.category}}
			<div class="article_page_content">
				{{ article.content }}
			</div>
		</article>
		<div>
			<ul>
				{% if article.prev_article %}
					<li>
						<a href="{{ SITEURL }}/{{ article.prev_article.url}}">
							Previous: {{ article.prev_article.title }}
						</a>
					</li>
				{% endif %}
				{% if article.next_article %}
					<li>
						<a href="{{ SITEURL }}/{{ article.next_article.url}}">
							Next: {{ article.next_article.title }}
						</a>
					</li>
				{% endif %}
			   </ul>
		
		</div>
</div>



			

{% endblock %}