<!DOCTYPE html>
<html>

<head>
	{% block header %}
	{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/static/css/tailwind.css">
	<script src="https://kit.fontawesome.com/546a1ed5cf.js" crossorigin="anonymous"></script>
	<!-- <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/static/css/main.css"> -->
	<!-- <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" -->
		<!-- integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous"> -->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-59S6FS0668"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-59S6FS0668');
	</script>
	<meta charset="utf-8">
</head>

<body>
	<div class='wrap'>
		<nav class="nav-bar bg-yellow-300 grid justify-center">
			<div class="logo-card grid my-6 justify-items-center grid-cols-3 gap-4">
					<i class="fa-solid fa-fish text-2xl py-6"></i>
					<h1 id="title" class="font-mono text-2xl text-center bg-white w-28 p-1 rounded-2xl"> {{ SITENAME }}</h1>
			</div>
			<ul class="nav_row nav_row flex md:gap-x-20 py-3 gap-x-5">
				<li><i class="fa-solid fa-house"></i><a class="nav_item" href="{{ SITEURL }}"> Home </a></li>
				<li><i class="fa-solid fa-newspaper"></i><a class="nav_item" href="{{ SITEURL }}/archives"> Article List </a></li>
				<li><i class="fa-solid fa-list"></i><a class="nav_item" href="{{ SITEURL }}/pages/projects"> Projects </a></li>
				<li><i class="fa-solid fa-address-card"></i><a class="nav_item" href="{{ SITEURL }}/pages/about"> About </a></li>
			</ul>
		</nav>

		<div class="article-area grid justify-items-center">
			{% block content %}
			{% endblock %}
		</div>
		<footer>
			<p class="font-extralight text-center py-6" >Copyright @ 2021 by Ian Powered by Pelican</p>
		</footer>
	</div>
	{% if GOOGLE_ANALYTICS %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{GOOGLE_ANALYTICS}}">
	</script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', '{{GOOGLE_ANALYTICS}}');
	</script>
	{% endif %}

	<script type="text/javascript">
		window.addEventListener('scroll', (e) => {
			let logo = document.getElementById('logo')
			let title = document.getElementById('title')
			let nav = document.getElementById('nav')
			if (window.scrollY > 5) {
				logo.classList.add('pure-menu-heading')
				logo.classList.remove('logo_card')
				logo.classList.add('logo_small')
				title.classList.add('title_small')
				nav.classList.add('nav_small')
			} else {
				logo.classList.remove('pure-menu-heading')
				logo.classList.remove('logo_small')
				logo.classList.add('logo_card')
				title.classList.remove('title_small')
				nav.classList.remove('nav_small')
			}
		})
	</script>
</body>

</html>