{% extends 'base.html' %}


{% block content %}

<h2 class="index-column-name text-center font-mono text-xl font-extralight p-4">Latest Articles</h2>
<div class="articles grid justify-items-center gap-y-4">
	{% for article in articles[:3] %}
	<div class="article_card bg-yellow-100 p-4  rounded-lg font-sans md:w-9/12 m-2">
		<h2><a class="article_title font-bold text-2xl " href="{{ SITEURL }}/{{ article.slug }}">{{ article.title }}</a></h2>
		<p class="font-thin">{{ article.date|strftime('%Y %m %d ')}}</p>
		<p class="font-light">{{ article.category}}</p>
		{{ article.content | truncate(110) }}
	</div>
	{% else %}
	<div class="">No article find</div>
	{% endfor %}
</div>
{% endblock %}