[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blinker = "*"
docutils = "*"
feedgenerator = "*"
ghp-import = "*"
pelican = {extras = ["markdown"], version = "*"}
python-dateutil = "*"
pytz = "*"
six = "*"
unidecode = "*"
Markdown = "*"
MarkupSafe = "*"
Pygments = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
