{% extends 'base.html' %}

<!-- {% block title %}{{ SITENAME }}{% endblock %} -->

{% block content %}
	<div class="pure-g">
		<div class="pure-u-1 padding_nav">
			<h2 class="index-column-name">Latest Articles</h2>
		</div>
		
		{% for article in articles %}
		<div class="pure-u-1-3 pure-u-md-1 article_card">
			<h2><a class="article_title" href="/{{ article.slug }}">{{ article.title }}</a></h2>
			{{ article.date|strftime('%Y %m %d ')}}
			{{ article.category}}
			{{ article.content | truncate(110) }}		
		</div>
		{% else %}
		<div class="pure-u-1-3">No article find</div>
		{% endfor %}
	</div>
{% endblock %}